---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Gallery from "../components/Gallery.astro";
import Contact from "../components/Contact.astro";
import { sessions, portfolioItems } from "../data/portfolio";
---

<Layout title="Fede R Films | Portafolio de trabajo" description="Portafolio de Federico Rios - Videografía y fotografía">
	<Navbar sessions={sessions} logoText="FR" />
	<main>
		<Hero name="Federico Rios" subtitle="Portafolio" />
		<Gallery items={portfolioItems} sessions={sessions} />
		<Contact />
	</main>
</Layout>
